<div class="row">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a href="" ng-click="addUserBox()">Add User</a></li>
    <li role="presentation" ng-show="canFriend"><a href="" ng-click="createFriendship()" >Create Friendship From Selection</a></li>
  </ul>
</div>

<div class="row">
  <div collapse="newUserActive">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="New User" ng-model="data.name">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Avatar <span class="caret"></span></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li ng-repeat="avatar in avatars">
              <a href=""><img class="menu--icons" ng-click="setAvatar(avatar)" src="images/avatars/{{avatar}}" /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="submit form">
        <button type="button" class="btn btn-primary" ng-disabled="(data.name === null || data.avatar === null)" ng-click="addUser()">Submit</button>
        <button type="button" class="btn btn-danger" ng-click="cancelAddUser()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3" ng-repeat="user in users" ng-class="{selected: selected[user.id]}" ng-click="selectPerson(user.id, user)">
    <div class="thumbnail">
      <div class="caption">
        <p>{{user.name}}<p>
      </div>
      <img src="images/avatars/{{user.avatar}}" alt="{{user.name}}">
      <button type="button" class="btn btn-default" ng-click="showFriends(user)">View All Friends</button>
    </div>
</div>